@font-face {
    font-family: Gidole;
    src: url("../font/Gidole-Regular.otf") format("opentype");
}
@font-face {
    font-family: Mightype;
    src: url("../font/Mightype Script.otf") format("opentype");
}
body{
	font-family: Arial;
}

#header{
	height: 45px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #BBECF7;
}
#header div{
	display: inline-block;
	margin-right:15px;
}
#header button{
	display: inline-block;
}
html,
body,
#Container,
#Content{
	height:100%;
}
#Content > div {
	height:calc(100% - 45px);
}
.logo img{
	height: 30px;
	width: auto;
}
.servheader{
	font-size: 12px;
}

.editable{
	color: grey;
	font-size: 12px;
}
.title{
	font-size: 18px;
}
.itemheader{
	font-size: 14px;
    font-weight: 600;
}
.cardstyle{
	background-color: #708d94;
}
.selectstyle{
	color: #ffffff;
	padding: 15px 0;
	text-align: center;
}
#CardStyle{
    height: calc(100% - 50px);
    overflow-y: auto;
    margin-right: -15px;
}
#CardStyle img{
	margin-bottom:20px;
}
.card > div{
	position:absolute;
	z-index:2;
	width:360px;
	height:240px;
    padding: 10px;
}
.card img{
	position:absolute;
}
.cardarea{
	background-color: #f0f3f4;
    overflow-y: auto;
}
.card{
	margin-top:20px;
    height: 240px;
}
.largecard{
	width:360px;
	height:240px;
}
.titlecontiner{
	line-height: 22px;
}
.servingcontiner {
    text-align: right;
}

#AddNew{
	margin-top: 50px;
	margin-bottom: 50px;
}
#AddNew button{
	width: 100%;
}